{
  "root": true,
  "env": {
    "shared-node-browser": true,
    "mocha": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "no-console": 0,
    "no-unused-vars": 0
  }
}
